<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @order.country %>
</p>

<p>
  <strong>Password:</strong>
  <%= @order.password %>
</p>

<p>
  <strong>Confirmation password:</strong>
  <%= @order.confirmation_password %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order.order_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
