<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @book.book_id %>
</p>

<p>
  <strong>Anthor:</strong>
  <%= @book.anthor_id %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @book.published_at %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
